
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
    <form method="post">
        <div>
            <table>
                <tr>
                    <th>Departmet Code</th>
                    <td><input type="text" name="DepartmentCode" /></td>
                </tr>
                <tr>
                    <th>Departmet Name</th>
                    <td><input type="text" name="DepartmentName" /></td>
                </tr>
                <tr>
                    <td>
                        <input type="submit" value="Save" />
                    </td>
                </tr>
            </table>
        </div>
    </form>
</body>
</html>
