@model List<GoyalEMS_MVC.Models.DepartmentModel>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <title>Index</title>
</head>
<body>
    <div class="col-6 offset-2"> 
        <table>
            <thead>
                <tr>
                    <th>Department Code</th>
                    <th>Department Name</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.DepartmentCode</td>
                        <td>@item.DepartmentName</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>
