@model GoyalEMS_MVC.Models.DepartmentModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>
    <form method="post">
        <div class="form-horizontal">
            <h4>DepartmentModel</h4>
            <hr />

            <input type="hidden" name="DepartmentId" value="@Model.DepartmentId"/>
            <div class="form-group">
                <label>Department Code</label>
                <div class="col-md-10">
                    <input type="text" name="DepartmentCode"
                           value="@Model.DepartmentCode"/>
                </div>
            </div>

            <div class="form-group">
                <label>DepartmentName</label>
                <div class="col-md-10">
                    <input type="text" name="DepartmentName"
                           value="@Model.DepartmentName"/>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>
    </form>
    
  
</body>
</html>
